@import url('https://rsms.me/inter/inter.css');
$hamburger-padding-x           : 8px !default;
$hamburger-padding-y           : 8px !default;
$hamburger-layer-width         : 24px !default;
$hamburger-layer-height        : 2px !default;
$hamburger-layer-spacing       : 6px !default;
$hamburger-layer-color         : #FF611D !default;
$hamburger-layer-border-radius : 0px !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

// Types (Remove or comment out what you don’t need)
$hamburger-types: (
  squeeze,
) !default;
@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

html {
    font-family: 'Inter';
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var';
    }
}